button {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  background-color: rgb(133, 247, 137);
  border: 2px solid rgb(133, 247, 137);
  border-radius: 8px;
}

h4 {
  color: rgb(176, 95, 234);
}

span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.project p {
  padding-left: 20px;
}

.container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.content {
  background-color: rgb(40, 42, 53);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(176, 95, 234);
  width: 90%;
}

.project {
  padding-left: 20px;
  margin-bottom: 5px;
}
