<div *ngFor="let command of this.commands; let i = index">
  <div class="r-bold">
    <p>
      <span style="color: rgb(255, 255, 255)">guest</span>
      <span style="color: rgb(176, 95, 234)">@lingen.tech</span>
      <span style="color: rgb(255, 0, 0)"> ~/cli</span>$ > {{ command }}
    </p>
  </div>
  <div class="r-medium" *ngFor="let line of this.results[i]">
    <p class="shorten" *ngIf="line != 'banner-display'">{{ this.line }}</p>
    <div *ngIf="line === 'banner-display'">
      <h2 data-text="lingen.tech">lingen.tech</h2>
    </div>
    <div *ngIf="line === 'skills'">
      <app-skills></app-skills>
    </div>
  </div>
</div>
