<div class="all">
  <details>
    <summary>ms per attempt <span class="short">ⓘ</span></summary>
    <p>determines the milliseconds needed per attempt calculation</p>
  </details>
  <input class="" [(ngModel)]="msPerTry" type="text" />
  <details>
    <summary>Pity System? ⓘ</summary>
    <p>
      follows the markov chain, meaning the base possibility is added after each
      attempt for the next one (https://en.wikipedia.org/wiki/Markov_chain)
    </p>
  </details>
  <input (click)="checkPity()" type="checkbox" />
  <details>
    <summary>Probability as decimal number ⓘ</summary>
    <p>(%/100 e.g. 50/100 = 0.5)</p>
  </details>
  <input class="" [(ngModel)]="probability" type="number" />
  <details>
    <summary>Attempts ⓘ</summary>
    <p>how many tries you want to do</p>
  </details>
  <input class="" [(ngModel)]="attempts" type="number" />
  <button (click)="calcProb()">Try!</button>
  <p>Attempts taken: {{ attemptsFirst }}</p>
  <br />
  <div *ngFor="let x of results; let i = index">
    <p *ngIf="x.includes('SUCCESS')" style="color: rgb(133, 247, 137)">
      {{ x }}
    </p>
    <p *ngIf="x.includes('FAILURE')" style="color: red">{{ x }}</p>
  </div>
</div>
