.r-bold {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bold;
}

input {
  outline: none;
  border: 0px;
  caret-color: red;
  background-color: rgb(40, 42, 53);
}

.all {
  background-color: rgb(40, 42, 53);
  color: white;
  font-size: 2ch;
  padding-top: 2ch;
  padding-left: 2ch;
}
