@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Roboto-Med;
  src: url(/assets/fonts/Roboto-Medium.ttf) format('truetype');
}

.r-bold {
  font-family: Roboto-Bold;
}

.r-medium{
  font-family: Roboto-Med;
}

input {
  outline: none;
  border: 0px;
  caret-color: red;
  background-color: rgb(40, 42, 53);
}

.all {
  background-color: rgb(40, 42, 53);
  color: white;
  font-size: 2ch;
  padding-top: 2ch;
  padding-left: 2ch;
}

