<div class="all">
  <button class="btn-back" (click)="backwards()">&larr;</button>
  <div>
    <p>
      Throughout the page there are various clues that all add up to a mystery.
    </p>
    <p><b>First of all</b>, you should start with the command help.</p>
    <p>What's your solution:</p>
    <input class="in" [(ngModel)]="input" id="id" type="text" />
    <br />
    <button class="btn-sub" (click)="checkInput()">Submit</button>
    <p style="color: rgb(133, 247, 137)" *ngIf="success">
      Success! Contact me at info@lingen.tech.
    </p>
    <p style="color: red" *ngIf="wrong">Wrong! Try again (read the headline carefully).</p>
  </div>
</div>
