img {
  max-height: 50px;
  max-width: 75px;
  animation-name: fade-in;
  animation-duration: 3s;
}

hr {
  margin-top: 5px;
  margin-right: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p.skill-name {
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
}

img.hovered {
  border: 2px solid rgb(176, 95, 234);
}

.all {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  min-height: 150px;
  max-width: 650px;
}

.item {
  height: 70px;
}

.img-sizing {
  height: 50px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
