<div class="body" [ngClass]="status ? 'dark' : ''">
  <div class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <header>
    <div (click)="clickEvent()" style="cursor: pointer" class="switch">
      <div class="moon"></div>
      <div class="flicker"></div>
    </div>
  </header>
  <section class="main">
    <div class="main-text">
      <h1 class="font1">Jan Hendrik Lingen</h1>
      <hr />
      <p>
        I am currently pursuing two bachelor's degrees, one in computer science
        and one in business administration. My special interests are all kinds
        of programming tasks, financial markets, business intelligence, chess
        and blockchain technologies.
      </p>
      <hr />
      <p>contact -> info@lingen.tech</p>
    </div>
  </section>
</div>
