.body {
  transition: 0.8s;
  margin: 0;
  padding: 0;
  background-color: rgba(244, 243, 247, 255);
  text-align: center;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}
p {
  margin: 0px;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.switch {
  width: 90px;
  height: 45px;
  border-radius: 20px;
  background-color: rgb(24, 24, 24);
  position: relative;
}
.flicker {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  transition: 0.8s;
  top: 5px;
  left: 5px;
  box-shadow: inset 4px 4px 4px rgb(255 255 255),
    inset -4px -4px 5px rgb(195 193 198 / 90%);
}
.dark {
  background-color: rgb(31, 29, 29);
  transition: 0.8s;
}
.red {
  color: crimson;
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 white;
  top: 7px;
  left: 55px;
  position: absolute;
}
.dark .flicker {
  transform: translateX(45px);
  transition: 0.8s;
  background-color: rgb(24, 24, 24);
  box-shadow: inset 4px 4px 4px black, inset -4px -4px 5px rgb(24 24 24 / 90%);
}
.dark .switch {
  background-color: white;
}
.main {
  height: 30%;
}
.main-text {
  margin: auto;
  height: 80%;
  width: 60%;
}
.square {
  width: 98%;
  margin: 1%;
  height: 150px;
  text-align: center;
  box-shadow: 5px 5px 10px;
}
.dark > * {
  color: white;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 25px;
  word-spacing: 2px;
}

