<div class="body" [ngClass]="status ? 'dark' : ''">
  <div class="loader">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <header>
    <div (click)="clickEvent()" style="cursor: pointer" class="switch">
      <div class="moon"></div>
      <div class="flicker"></div>
    </div>
  </header>
  <section class="main">
    <div class="main-text">
      <h1 class="font1">Jan Hendrik Lingen</h1>
      <p class="red">This site is under construction. 🛠</p>
      <br />
      <p>
        I am currently completing two Bachelor's degrees, one in Computer
        Science and one in Business Administration. My particular interests are
        data science, financial markets, business intelligence and blockchain
        technologies.
      </p>
      <br />
      <p>contact -> info@lingen.tech</p>
    </div>
  </section>
  <footer>
    <div class="footer-bottom">
      <p>Jan Hendrik Lingen, contact -> info@lingen.tech</p>
    </div>
  </footer>
</div>
