.shorten {
  max-width: 650px;
  color: rgb(250, 250, 250);
}

hr {
  margin-right: 20px;
}

.outline-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.command {
  margin-right: 30px;
  font-weight: 600;
  text-shadow: 2px 1px rgb(176, 95, 234);
}
