hr {
  margin-right: 20px;
}

.outline-container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.command {
  min-width: 100px;
  margin-right: 30px;
  font-weight: 600;
  text-shadow: 2px 1px rgb(176, 95, 234);
}
